@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c4ddfe;
    font-family: 'Xanh Mono', monospace;
    height: 100%;
    animation: animatedBackground 9s linear infinite alternate;
}
@keyframes animatedBackground{
    from{
        background-color: #c4ddfe;
    }
    to{
        background-color: #fed8f7;
    }
    
}
#container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    grid-template-areas: 
    'h h h h h h'
    's m m m m m'
    's m m m m m'
    's m m m m m'
    'f f f f f f'
    ;
    height:100vh;
    
}
/* header styles */
#header{
    grid-area: h;
    font-size:1.1rem;
    
}

#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:65px;
    
}
#navbar ul {
    display:flex;
    list-style: none;
}


#navbar ul > li {
    display:flex;
    margin-right: 2rem;
    text-shadow: 
    -1px -1px 1px rgba(255, 255, 255, 1), 
    1px 1px 1px rgba(0, 0, 0, 0.6);
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}

#logo{
    width:100%;
    display:flex;
    height:65px;
    align-items: center;
    font-size: 3rem;
    margin-left: 6rem;
    letter-spacing: 2px;
    cursor: default;
    text-shadow:
        -1px -1px 1px rgba(255, 255, 255, 1), 
        1px 1px 1px rgba(0, 0, 0, 0.6);
    color:white;

}
#logo a{
    text-decoration: none;
    cursor: pointer;
    text-shadow:
        -1px -1px 1px rgba(255, 255, 255, 1), 
        1px 1px 1px rgba(0, 0, 0, 0.6);
    color:white;

}
/* side bar styles */
#sidebar{
    grid-area: s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.social{
    height:100px;
}
.social img{
    height:100px;
    width:100px;
    transition: 0.6s ease-in-out;
}
.social img:hover{
    height:120px;
    width:120px;
    transform: scale(120%);
}
/* main area styles*/
#main{
    grid-area: m;
    display: flex;
}
#content{
    width:100%;
}
.content_change{
display: flex;
justify-content: flex-end;
margin-right: 3rem;
font-size: 3.7rem;
    font-family: 'Xanh Mono', monospace;
    font-weight: 400;
    color: #fff8e7;
    text-shadow: 
        -1px -1px 1px rgba(255, 255, 255, 0.9), 
        1px 1px 1px rgba(0, 0, 0, 0.6);
    cursor: default;
    text-align: right;
    margin-top: 2rem;
}
#content h1{
    font-size: 10rem;
    font-family: 'Xanh Mono', monospace;
    font-weight: 400;
    color: #fff8e7;
    text-shadow: 
        -1px -1px 1px rgba(255, 255, 255, 0.9), 
        1px 1px 1px rgba(0, 0, 0, 0.6);
    cursor: default;
}
#name{
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}
#surname{
    display:flex;
    justify-content: flex-end;
    margin-right: 3rem;
}
#btn_div{
    display:flex;
    justify-content: flex-end;
    margin-top: 1.4rem;
    margin-right: 14rem;

}
@keyframes btnAnimation {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
#checkout_btn{
    width:180px;
    height:40px;
    border-radius: 16px;
    border:2px dashed black;
    background-color: transparent;
    font-family: 'Xanh Mono', monospace;
    letter-spacing: 1px;
    cursor: pointer;
    animation: btnAnimation 2s linear 0s infinite normal both;
}

/* footer styles*/
#footer{
    grid-area: f;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    cursor: default;
}
#footer_box{
    font-size: 0.6rem;
    letter-spacing: 1px;
}



/*Responisves */ 

@media screen and (max-width:575.98px) {
    


    #container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3fr 2fr 0.3fr;
        grid-template-areas:
        'h'
        'm'
        's'
        'f';
        height:100vh;      
 }
    #header{
        grid-area: h;
        height:auto;
        width:100vw;
    }
    #navbar ul {
        display: flex;
        
    }
    #navbar ul >li {
        margin-right: 0.7rem;
        padding:6px;
    }
    #logo{
        margin-left: 0;
        margin-left:2rem;
    }
    #logo a{
        text-decoration: none;
    }
    #main{
        grid-area: m;
        align-items: center;

    }
    #content h1{
        font-size: 5rem;
        margin-bottom: 4rem;
    }
    .content_change{
        display: flex;
        justify-content: flex-end;
        margin-right: 0.4remrem;
        font-size: 2.2rem;
            font-family: 'Xanh Mono', monospace;
            font-weight: 400;
            color: #fff8e7;
            text-shadow: 
                -1px -1px 1px rgba(255, 255, 255, 0.9), 
                1px 1px 1px rgba(0, 0, 0, 0.6);
            cursor: default;
            text-align: right;
            margin-top: 0.2rem;
    }
    #name{
        margin-right: 0.4rem;
    }
    #surname{
        margin-right:0.4rem;
    }
    #btn_div{
        display:flex;
        justify-content: center;
        margin-top: 2.4rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    #btn_div a{
        color:black;
    }
    #sidebar{
        grid-area: s;
        flex-direction: column;
    }
    .social img {
        height: 100px;
    }
    .social img:hover{
        width: 100px;
        height:100px;
        transform: none;
    }
    #footer{
        grid-area: f;
        align-items: center;
    }
}
