@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #296868;
    font-family: 'Xanh Mono', monospace;
    height: 100%;
   /* animation: animatedBackground 9s linear infinite alternate; */
}
@keyframes animatedBackground{
    from{
        background-color: #c4ddfe;
    }
    to{
        background-color: #fed8f7;
    }
    
}
#container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 3fr 3fr 3fr 0.2fr 0.2fr; 
    grid-template-areas: 
    'h'
    'p1'
    'p2'
    'p3'
    'p4'
    'b'
    'f'
    ;
    row-gap: 1rem;
    height:100%;
}
#main{
    background-color: black;
}
#p1{
    grid-area: p1;
}
#p1_content{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
#p2{
    grid-area: p2;
}
#p2_content{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
#p3{
    grid-area: p3;
}
#p3_content{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
#p4{
    grid-area: p4;
}
#p4_content{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.project_title{
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.4rem;
   
}
.pic{
    height:300px;
    width:90%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.pic img{
   height:300px;
   width:100%;
}
.buttons{
    display: flex;
    gap:30px;
}
.live_btn{
        display:inline-flex;
        padding:0.3em 1.2em;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        color: #f4a896;
        background-color:transparent;
        text-align:center;
        border: 1px solid #fff8e7;
        font-family: 'Xanh Mono' , monospace;
 }
.view_btn{
        display:inline-flex;
        padding:0.3em 1.2em;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        background-color:#fff8e7;
        text-align:center;
        border: 1px solid white;
        font-family: 'Xanh Mono' , monospace;
        background-color: transparent;
        color: #f4a896;
    }    
     #back{
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;

     }
     #back_btn{
        padding:0.3em 1.2em;
        border-radius:2em;
        box-sizing: border-box;
        text-decoration:none;
        background-color:#fff8e7;
        text-align:center;
        border: 1px solid white;
        font-family: 'Xanh Mono' , monospace;
        background-color: transparent;
        color: #f4a896;
        animation: btnAnimation 2s infinite linear  ;

     }
     @keyframes btnAnimation {
        0% {
            transform: scale(1);
        }
    
        50% {
            transform: scale(1.1);
        }
    
        100% {
            transform: scale(1);
        }
    }
/* footer styles*/
#footer{
    grid-area: f;
    cursor: default;
}
#footer_box{
    font-size: 0.6rem;
    letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
    
    #container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 3fr 3fr 0.2fr 0.1fr; 
        grid-template-areas: 
        'h h'
        'p1 p2'
        'p3 p4'
        'b b'
        'f f'
        ;
        row-gap: 2rem;
        height:100%;
        
    }



.pic{
    height:500px;
    max-width:700px;
}
    .pic img{
        height:500px;
    }
    
}